PORT=5000
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://neondb_owner:npg_wQox2E0pINDZ@ep-dark-thunder-angzsfcz-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DB_HOST=ep-dark-thunder-angzsfcz-pooler.c-6.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_wQox2E0pINDZ
DB_NAME=neondb

JWT_SECRET=change-this-to-a-long-random-secret
